{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content_full %}
<div class="grid grid-cols-5 min-h-[100vh] p-20">
    <div class="col-span-1 flex flex-col justify-start items-start h-fit bg-body-2">
        <div class="w-full flex justify-center items-center">
            <a href="/home" class="cursor-pointer p-5 text-xl w-full text-center  hover:bg-[#e7e7e7]">ESP</a>
        </div>
        <div class="w-full flex justify-center items-center">
            <a href="#cmd" class="cursor-pointer p-5 text-xl w-full text-center  hover:bg-[#e7e7e7]">Griper Commands</a>
        </div>
        <div class="w-full flex justify-center items-center">
            <a href="#sav" class="cursor-pointer p-5 text-xl w-full text-center  hover:bg-[#e7e7e7]">Griper Saved</a>
        </div>

    </div>
    <div class="col-span-4 w-2/3 mx-auto">
        <h1>Naiveté Solutions</h1>


        
        <h2 id="#cmd">Griper Controls</h2>
        <div class="bg-body-2 p-5 flex flex-col gap-10 items-start">

            <div class="my-5 text-xl">
                <select name="" id="m-select">
                    <option value="M1">M1</option>
                    <option value="M2">M2</option>
                    <option value="M3">M3</option>
                    <option value="M4">M4</option>
                    <option value="M5">M5</option>
                    <option value="M6">M6</option>
                </select>
            </div>
            <div class="my-5">
                <input type="number" id="m-number" placeholder="Degrees of rotation">
            </div>

            <button class="px-4 py-2 bg-[#ff4040] text-white" id="griper-control">
                Run
            </button>


        </div>

        <h2 id="sav">Griper Saved Commands</h2>

        {% for griper in griper_commands %}
        <div class="bg-body-2 p-5">
            <h3>Instruction: {{ griper.title }}</h3>
            <h5>Following are the commands:</h5>
            <div class="p-5 {{ griper.title }}">
                {% for cmd in griper.commands.all %}
                        <h6 data-message="{{ cmd.get_js_string }}" class="text-lg uppercase my-3 gap-5 flex justify-start items-center">
                            
                            <div class="hidden" role="status">
                                <svg aria-hidden="true" class="mr-2 w-6 h-6 text-gray-200 animate-spin dark:text-gray-600 fill-green-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                                </svg>
                                <span class="sr-only">Loading...</span>
                            </div>
                            <iconify-icon class="hidden" icon="material-symbols:check-circle-rounded" class="text-2xl text-green-600"></iconify-icon>
                            {{ cmd.joint }} - {{ cmd.value_degrees }}
                        </h6>
                {% endfor %}
            </div>
            <button class="px-4 py-2 bg-[#ff4040] text-white instruction-btn" id="{{ griper.title }}">
                Run
            </button>
        </div>
        {% endfor %}
    </div>

</div>
<script>

    let conn = false;
    // const websocket = new WebSocket("ws://192.168.177.205/ws");
    const websocket = new WebSocket("ws://127.0.0.1:8765");
    // Connection opened
    websocket.addEventListener('open', (event) => {
        conn = true;
        console.log("Connection Established!")
    });

    // Listen for messages
    websocket.addEventListener('message', (event) => {
        console.log('Message from server ', event.data);
    });


    const griperControlBtn = document.getElementById("griper-control")
    const griperSelect = document.getElementById("m-select")
    const griperNumber = document.getElementById("m-number")

    griperControlBtn.addEventListener("click", e => {
        websocket.send(`${griperSelect.value}_${griperNumber.value}`)
    })

    const inputTag = document.getElementById("servo-degrees")

    const btns = document.getElementsByClassName("instruction-btn")
    Array.from(btns).forEach(btn => {
        btn.addEventListener("click", e => {
            const btnId = btn.id
            const i = document.getElementsByClassName(btnId)[0]
            console.log(i)
            let instructions = i.children
            console.log(instructions)
            instructions = Array.from(i.children).forEach(element => {
                console.log(element.dataset.message)
                const loader = element.getElementsByTagName("div")[0]
                const check = element.getElementsByTagName("iconify-icon")[0]
                loader.classList.remove("hidden")
                setTimeout(()=>{
                    websocket.send(element.dataset.message)

                }, 1000)
                loader.classList.add("hidden")
                check.classList.remove("hidden")

            })
        })
    });
    console.log(btns)
</script>
{% endblock %}