<section class="py-20">

    <h1>LED Controls</h1>

    <!-- {% for servo in servo_controls %}
    <div class="p-5 bg-[#F3F3F3]">
        <h3>{{ servo.name }}</h3>
        <p>{{ servo.degrees }}</p>
        <button class="px-4 py-2 bg-green-500 text-white">
            Run
        </button>
    </div>
    {% endfor %} -->

    <div class="p-5 bg-[#F3F3F3]">
        <h3>Toggle LED</h3>
        <button class="px-4 py-2 bg-[#ff4040] text-white" id="led-button">
            Toggle
        </button>
    </div>

</section>
<script>

</script>