<section class="py-20">

    <h1>Servo Page</h1>

    <!-- {% for servo in servo_controls %}
    <div class="p-5 bg-[#F3F3F3]">
        <h3>{{ servo.name }}</h3>
        <p>{{ servo.degrees }}</p>
        <button class="px-4 py-2 bg-green-500 text-white">
            Run
        </button>
    </div>
    {% endfor %} -->

    <div class="p-5 bg-[#F3F3F3]">
        <h3>Rotate servo motor by degrees</h3>
        <div class="my-5">
            <input type="number" id="servo-degrees" value="30" class="p-2">
        </div>
        <button class="px-4 py-2 bg-[#ff4040] text-white" id="servo-button">
            Run
        </button>
    </div>

</section>
<script>
    

</script>